html
  position: relative
  font-size: 62.5%
  overflow-x: hidden

:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400

  color-scheme: light dark
  color: $color-light
  background-color: $bg-color

a,
a:visited
  font-weight: 500
  color: $color-light
  border-bottom: transparent 1px solid

a.active
  color: $color-primary
  border-bottom: $color-light 1px solid

strong
  color: $color-primary

button
  cursor: pointer

.up-orb,
.down-orb
  position: absolute
  z-index: -10
  filter: blur(10rem)
  height: 25rem
  width: 25rem
  border-radius: 50%
