.home .bg-banner,
.home #news .bg-container
  position: absolute
  top: 0
  left: 0
  z-index: -2

  background-color: $color-dark
  height: 500px
  width: 100vw
  box-shadow: 0 8px 16px $color-dark, 0 -8px 16px $color-dark

.home
  section
    max-width: 1080px
    margin: 0 auto
    padding: 5.2rem 4rem

  h2,
  h2 strong
    font-size: 2.8rem
    margin-bottom: 4rem

  #hero
    position: relative

    .info-hero
      display: flex
      justify-content: center
      flex-direction: column
      height: 45rem
      width: 500px

      p
        letter-spacing: 3.2px

      h1,
      strong
        font-size: 8rem
        line-height: 4.2rem
        padding: 2.4rem 0 6rem

    img
      position: absolute
      top: 0
      right: -120px
      max-height: 60rem
      z-index: -1

      &.animated
        animation: slideUp 2s ease-in-out forwards

  a
    background-color: $color-primary
    background: linear-gradient(to bottom, $color-primary, $color-dark)
    box-shadow: 0 2px 8px #242424
    width: 24rem
    text-align: center
    padding: 2rem
    border-radius: 50px

  #features
    margin: 6rem auto
    position: relative

  #features,
  #community

    .up-orb,
    .down-orb
      position: absolute
      z-index: -10
      filter: blur(10rem)
      height: 25rem
      width: 25rem
      border-radius: 50%

    .up-orb
      background-color: $color-primary
      top: -16rem
      right: -0rem

    .down-orb
      background-color: $color-light
      filter: blur(16rem)
      bottom: -10rem
      left: -0rem

  #news
    position: relative

    h2
      margin-top: 5.2rem

    ul
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: 60px

      li
        display: flex
        width: 32rem
        height: 8rem
        color: rgb(152, 152, 152)

        &:hover
          color: $color-light
          scale: 1.1
          border-top: $color-primary 1px solid
          border-bottom: $color-primary 1px solid
          height: 8rem
          padding: 8px
          border-radius: 8px
          transition: ease 0.3s

        p
          font-size: 1.2rem

  #community
    max-width: 60rem
    margin: 12rem auto
    text-align: center
    position: relative

    p
      margin-bottom: 6rem

    .up-orb
      background-color: $color-light
      filter: blur(16rem)
      top: -16rem
      right: -10rem

    .down-orb
      background-color: $color-primary
      bottom: -10rem
      left: -10rem

  .icon
    font-size: 6rem
    margin-right: 12px

  .icon-search,
  .icon-devices
    font-size: 7rem
    margin-right: 12px

  .icon-trash
    font-size: 5rem
    margin-right: 12px

@keyframes slideUp
  0%
    transform: translateY(100%)
    opacity: 0

  100%
    transform: translateY(0)
    opacity: 1
